<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VerificadorAF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
      
    </system.serviceModel>
  
    <applicationSettings>
        <VerificadorAF.Properties.Settings>
            <setting name="VerificadorAF_mx_gob_sat_facturaelectronica_consultaqr_ConsultaCFDIService"
                serializeAs="String">
                <value>https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc</value>
            </setting>
        </VerificadorAF.Properties.Settings>
    </applicationSettings>
  <system.net>

    <defaultProxy enabled="true" useDefaultCredentials="true">
      <!--<proxy usesystemdefault="False" autoDetect="False" proxyaddress="http://proxy:8080" />-->
      <module type = "VerificadorAF, CredencialProxy" />
    </defaultProxy>
  </system.net>

</configuration>